<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Compumundo Hipermegared</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat inventore a corrupti iure facilis cumque quasi itaque assumenda. Rem fuga, pariatur beatae ullam consectetur cupiditate eligendi vel consequuntur temporibus consequatur esse nesciunt voluptatibus totam ab laudantium nemo delectus ad porro maiores quia exercitationem dolorum sint dolore reprehenderit. Voluptates quam, possimus, praesentium expedita voluptatum labore consequuntur magni molestias, quaerat quibusdam quo inventore nam quos assumenda quod animi aliquid! Aut, eaque. Saepe consequuntur vitae cupiditate voluptas, nobis iusto perspiciatis labore inventore sint sapiente facilis neque, eos tempore eligendi, sit sed assumenda modi quos aliquid? Similique architecto facere perferendis? Accusantium iste optio fuga?</p>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card h-100-shadow p-3">
                        <h3>Servicios Online</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias laudantium in quibusdam qui! Expedita consequuntur hic dicta natus nobis distinctio at, officiis ex atque quibusdam obcaecati aperiam vel nulla culpa.istinctio at, officiis ex atque quibusdam obcaecati aperiam vel nulla culpa.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card h-100-shadow p-3">
                        <h3>Paquetería</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptas iste iusto repellendus. Autem id veniam repudiandae, amet in magnam asperiores veritatis consequatur ut porro optio enim! Porro, inventore impedit!</p>
                    </div>
                
                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="card h-100-shadow p-3">
                        <h3>Mensajeria</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias reiciendis quidem officiis in, modi iste, praesentium harum voluptas tenetur exercitationem ipsum ab velit ea, impedit fugit aspernatur dolore commodi repellat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 align-self-center">
            <img src="../../assets/img/bodega.jpg" alt="" class="img-fluid w-100">
        </div>
    </div>
</div>
