<div class="container my-5">
    <div class="row">
        <div class="col-8">
            <h3>Registro Mercancia</h3>
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="capturarDatos()">
                <div class="mb-3">
                    <label class="form-label">Nombre: </label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción: </label>
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha: </label>
                    <input type="text" class="form-control" formControlName="fechaDeEntrada">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Motivo de Devolución: </label>
                    <input type="text" class="form-control" formControlName="motivoDevolucion">
                </div>
                <div class="mb-3">
                    <label class="form-label">Volumen: </label>
                    <input type="text" class="form-control" formControlName="volumen">
                </div>
                <button type="submit" class="btn btn-dark w-100">Registrar</button>
            </form>
        </div>
    </div>
</div>
