.banner{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner2{
    background-image: url("../../assets/img/banner2.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.banner::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}